apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-app
  namespace: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-app
  template:
    metadata:
      labels:
        app: frontend-app
    spec:
      containers:
        - name: frontend
          image: asia-south1-docker.pkg.dev/agile-earth-477112-t9/frontend/app:0.7
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          # resources:
          #   requests:
          #     cpu: "50m"
          #     memory: "150Mi"
          #   limits:
          #     cpu: "150m"
          #     memory: "300Mi"
      restartPolicy: Always
