apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: microservices
spec:
  ports:
    - port: 5672
      targetPort: 5672
      name: amqp
  selector:
    app: rabbitmq

---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-management
  namespace: microservices
spec:
  ports:
    - port: 15672
      targetPort: 15672
      name: management
  selector:
    app: rabbitmq
